.edit-mem-point{
  position: absolute;
  top: 5px;
  left: 10px;
  background:url('/imgs/editbutton.png') no-repeat;
  background-size: 100% 100%;
  width:20px;
  height:20px;
  border:none;
}


a[href="https://froala.com/wysiwyg-editor"], a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
  display: none !important;
  position: absolute;
  top: -99999999px;
}

.small-notes{
  font-size: 50%;
}
.private-notes{
  color: #894423;
}
.public-notes{
  color: #1C8435;
}


#copy-lng-lat{
  position: absolute;
  top: 5px;
  right: 50px;
  background:url('/imgs/copyloc.png') no-repeat;
  background-size: 100% 100%;
  width:20px;
  height:20px;
  border:none;
}
.delete-mem-point{
  position: absolute;
  top: 5px;
  right: 10px;
  background:url('/imgs/delete20.png') no-repeat;
  background-size: 100% 100%;
  width:20px;
  height:20px;
  border:none;
}
.delete-mem-point:hover,.edit-mem-point:hover,#copy-lng-lat:hover{
  opacity: 0.6;
  cursor: pointer;
}
